name: CI

on:
  push:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk-softfp:latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '10'
    - name: Install dependencies
      run: |
        cp stubs/libkubridge_stub.a /home/user/vitasdk/arm-vita-eabi/lib
        cp stubs/libkubridge_stub_weak.a /home/user/vitasdk/arm-vita-eabi/lib
        cp libs/libsndfile.a /home/user/vitasdk/arm-vita-eabi/lib
        cp libs/libcurl.a /home/user/vitasdk/arm-vita-eabi/lib
        cp libs/libssl.a /home/user/vitasdk/arm-vita-eabi/lib
        cp libs/libcrypto.a /home/user/vitasdk/arm-vita-eabi/lib
        git clone -b vgl --single-branch https://github.com/Rinnegatamante/openal-soft.git
        cd openal-soft/build
        cmake -DCMAKE_TOOLCHAIN_FILE=${VITASDK}/share/vita.toolchain.cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_FLAGS=-mfloat-abi=softfp .. && make -j$(nproc) install
        cd ../..
        git clone https://github.com/bythos14/SceShaccCgExt.git
        cd SceShaccCgExt
        mkdir build && cd build
        cmake .. && make -j$(nproc) install
        cd ../..
        git clone https://github.com/Rinnegatamante/vitaShaRK.git
        make -C vitaShaRK -j$(nproc) install
        git clone https://github.com/Rinnegatamante/vitaGL.git
        make -C vitaGL SOFTFP_ABI=1 NO_DEBUG=1 SHARED_RENDERTARGETS=1 HAVE_GLSL_SUPPORT=1 -j$(nproc) install
        git clone https://github.com/frangarcj/opensles.git
        cd opensles/libopensles
        make -j$(nproc) install
        cd ../..
    - name: Compile project
      run: |
        git config --global --add safe.directory /__w/yoyoloader_vita/yoyoloader_vita
        git describe --abbrev=6 --dirty --always
        zip -9 -r banners.zip banners
        mkdir standalone
        mkdir standalone_video
        mkdir build
        cd build
        cmake -DLOADER=1 ..
        make -j$(nproc)
        mv loader2.bin loader.bin
        rm -f CMakeCache.txt
        cd ../standalone
        cmake -DLOADER=1 -DSTANDALONE=1 ..
        make -j$(nproc)
        cd ..
        make -C vitaGL SOFTFP_ABI=1 NO_DEBUG=1 PHYCONT_ON_DEMAND=1 SHARED_RENDERTARGETS=1 HAVE_GLSL_SUPPORT=1 -j$(nproc) clean
        make -C vitaGL SOFTFP_ABI=1 NO_DEBUG=1 PHYCONT_ON_DEMAND=1 SHARED_RENDERTARGETS=1 HAVE_GLSL_SUPPORT=1 -j$(nproc) install
        cd standalone_video
        cmake -DLOADER=1 -DVIDEO_SUPPORT=1 -DSTANDALONE=1 ..
        make -j$(nproc)
        cp loader2.bin ../launcher/builder/standalone_video.bin
        cd ../build
        cmake -DLOADER=1 -DVIDEO_SUPPORT=1 ..
        make clean
        make -j$(nproc)
        rm -f CMakeCache.txt
        cmake ..
        make -j$(nproc)
        cd ../launcher
        cp ../standalone/loader2.bin builder/standalone.bin
        cp ../livearea/bg0.png builder/assets/bg.png
        cp ../livearea/icon0.png builder/assets/icon0.png
        cp ../livearea/default_gate.png builder/assets/startup.png
        zip -9 -r builder.zip builder
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/YoYoLoader.vpk
        overwrite: true
        tag: Nightly
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: launcher/builder.zip
        overwrite: true
        tag: Nightly
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: banners.zip
        overwrite: true
        tag: Nightly
    - name: Restart workflow if an upload fails
      if: ${{ failure() }}
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        event-type: restart
        client-payload: '{"runid": "${{ github.run_id }}"}'
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - name: Get changelog
      id: changelog
      uses: Rinnegatamante/get-git-log-action@master
    - name: Update release body
      id: update_release
      uses: Rinnegatamante/update_release@master
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        release_name: "Nightly ${{ steps.date.outputs.date }}"
        body: "${{ format('{0}\n{1}\n{2}\n{3}\n{4}\n{5}\n{6}\n{7}\n{8}\n{9}', steps.changelog.outputs.log0, steps.changelog.outputs.log1, steps.changelog.outputs.log2, steps.changelog.outputs.log3, steps.changelog.outputs.log4, steps.changelog.outputs.log5, steps.changelog.outputs.log6, steps.changelog.outputs.log7, steps.changelog.outputs.log8, steps.changelog.outputs.log9) }}"
        tag: Nightly
